@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
}

.mine{
    background-image: url("/img/terraDebloco.png");
    line-height: 100%;
}

.terraria{
    background-image: url("/img/bcTerraria.png");
    line-height: 100%;
}

.oce{
    background-image: url("/img/tala.png");
}

.h2oce{
    line-height: 400%;
}

.espa{  
    height: 60vh;
    width: 100vw;
}

h2{
    font-family: "Bebas Neue", sans-serif;
}

p{
    font-family: "Roboto", sans-serif;
}