@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



:root{
    --back: #2C4001;
    --back-prici:#848C45;
    --box: #59462E;
    --h1-font-size: 5rem;
    --p-font-size: 2rem;
    --font-estilo: "Oswald", sans-serif;
}

body{
    background-color: var(--back-prici);
}

h1{
    font-size: var(--h1-font-size);
    background-color: var(--box);
    font-family: var(--font-estilo);
    text-align: center;
}

p{
    background-color: var(--box);
    font-size: var(--p-font-size);
    font-family: var(--font-estilo);
}

p:hover{
    font-size: 4rem;
}

nav {
    font-size: 150%;
    
     text-align: center;
}

a{
   margin-left: 3%;
   text-decoration: none;
}

a:hover{
   background-color: #2C4001;
   padding: 1.5rem;
}

