.con{
    background-color: bisque;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr); 
    gap: 7px;
}

.box1{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2{
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
}

.box3{
    background-color: cadetblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box4{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
