*{
    margin: 0%;
}

.container {
    height: 100vh;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "item1 item1 item1"
        "item2 item3 item3"
        "item2 item3 item3"
        "item2 item3 item3"
        "item4 item4 item4";
}

.box1 {
    grid-area: item1;
    background-color: brown;
}

.box2 {
    grid-area: item2;
    background-color: burlywood;
}

.box3 {
    grid-area: item3;
    background-color: chocolate;
}

.box4 {
    grid-area: item4;
    background-color: blue;
}